---
import Layout from '../layouts/Layout.astro';
import Buscar from '../components/buscar.astro';
---

<Layout title="UTD Book - Home">
    <div class="flex md:hidden">
		<Buscar/>		
	</div>
</Layout>