<section class="hidden md:flex w-[30rem] bg-[#18181a] h-screen px-7 fixed top-35 left-3 z-50 rounded-2xl">
    <nav class="w-full">
        <ul class="w-full flex flex-col gap-9">
            <li class="mt-[3rem] flex justify-center ">
                <span class="hidden md:flex bg-[#0c0c0e] py-12 px-18 text-[#cdcdcd] rounded-2xl text-2xl font-bold">Welcome to UTDBook!</span>
            </li>
        </ul>
    </nav>
</section>