<section class="flex flex-col gap-12 h-auto">
    <article class=" flex flex-col gap-7 ">
        <div class="flex justify-between items-center text-[#cdcdcd] text-[1.7rem] w-full ">
            <h2 class="font-semibold ">Ultimos libros</h2>

            <button class="rounded-2xl  font-semibold">Ver mas</button>
        </div>
        <div class=" flex md:gap-9 gap-2.5 overflow-auto scrollbar-hidden">
            <img src="/libro1.jpg" alt="libro1" class="object-fill md:w-[255px] md:h-[28rem] h-[17rem]  rounded-[.9rem]">
            <img src="/libro2.webp" alt="libro1" class="object-fill md:w-[255px] md:h-[28rem] h-[17rem]  rounded-[.9rem]">
            <img src="/libro3.webp" alt="libro1" class="object-fill md:w-[255px] md:h-[28rem] h-[17rem]  rounded-[.9rem]">
            <img src="/libro4.webp" alt="libro1" class="object-fill md:w-[255px] md:h-[28rem] h-[17rem]  rounded-[.9rem]">
        </div>
    </article>
    
    <article class="w-full flex flex-col gap-7 ">
        <div class="flex justify-between items-center text-[#cdcdcd] text-[1.7rem] w-full ">
            <h2 class="font-semibold ">Mas leídos</h2>

            <button class="rounded-2xl font-semibold">Ver mas</button>
        </div>
        <div class="flex md:gap-10 gap-2.5 overflow-auto scrollbar-hidden">
            <img src="/libro5.jpg" alt="libro1" class="object-cover h-[17rem] md:h-[28rem] md:w-[255px] rounded-[.9rem]">
            <img src="/libro6.webp" alt="libro1" class="object-cover h-[17rem] md:h-[28rem] md:w-[255px] rounded-[.9rem]">
            <img src="/libro7.webp" alt="libro1" class="object-cover h-[17rem] md:h-[28rem] md:w-[255px] rounded-[.9rem]">
            <img src="/libro8.jpg" alt="libro1" class="object-cover h-[17rem] md:h-[28rem] md:w-[255px] rounded-[.9rem]">
        </div>
    </article>

    <article class="w-full flex flex-col gap-7 ">
        <div class="flex justify-between items-center text-[#cdcdcd] text-[1.7rem] w-full ">
            <h2 class="font-semibold ">Más populares</h2>

            <button class="rounded-2xl  font-semibold">Ver mas</button>
        </div>
        <div class="flex md:gap-10 gap-2.5 overflow-auto scrollbar-hidden">
            <img src="/libro9.jpeg" alt="libro1" class="h-[17rem] md:h-[28rem] md:w-[255px] rounded-[.9rem]">
            <img src="/libro10.webp" alt="libro1" class="h-[17rem] md:h-[28rem] md:w-[255px] rounded-[.9rem]">
            <img src="/libro11.jpg" alt="libro1" class="h-[17rem] md:h-[28rem] md:w-[255px] rounded-[.9rem]">
            <img src="/libro12.jpg" alt="libro1" class="h-[17rem] md:h-[28rem] md:w-[255px] rounded-[.9rem]">
        </div>
    </article>

    
</section>

<style>
    .scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */

  /* WebKit (Chrome, Safari) */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
</style>